Repository echoes-io/core: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(test-stats): :sparkles: Added the `TextStats` feature
  .vscode/settings.json
  README.md
  TODO.md
  index.ts
  lib/index.ts
  lib/text-stats.ts
  package-lock.json
  package.json
  test/text-stats.test.ts
Due: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: :alien: Added the default cli agent
  .amazonq/cli-agents/default.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(db): :sparkles: First implementation of the db
  .vscode/settings.json
  index.ts
  lib/db/client.ts
  lib/db/migrations.ts
  lib/models/arc.ts
  lib/models/chapter.ts
  lib/models/episode.ts
  lib/models/index.ts
  lib/models/part.ts
  lib/models/pov.ts
  lib/models/timeline.ts
  package-lock.json
  package.json
  test/db/migrations.test.ts
Due: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: :truck: Renamed from `core` to `utils`
  .amazonq/cli-agents/default.json
  README.md
  package-lock.json
  package.json
Due: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: :fire: Removed the db utils
  .vscode/settings.json
  lib/db/client.ts
  lib/db/migrations.ts
  lib/models/arc.ts
  lib/models/chapter.ts
  lib/models/episode.ts
  lib/models/index.ts
  lib/models/part.ts
  lib/models/pov.ts
  lib/models/timeline.ts
  package-lock.json
  package.json
  test/db/migrations.test.ts
Due: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(markdown-parser): :sparkles: Added the frontmatter extraction
  .vscode/settings.json
  README.md
  TODO.md
  index.ts
  lib/index.ts
  lib/markdown-parser.ts
  lib/text-stats.ts
  lib/types.ts
  package-lock.json
  package.json
  test/index.test.ts
  test/markdown-parser.test.ts
Due: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

perf(markdown-parser): :truck: Moved the strip markdown method into the markdown parser
  lib/markdown-parser.ts
  lib/text-stats.ts
  test/markdown-parser.test.ts
  test/text-stats.test.ts
Due: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

perf: :fire: Removed the root `index.ts` file
  index.ts
  test/index.test.ts
Due: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: :memo: Updated the doc
  README.md
  TODO.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: :sparkles: Adding the workflow to publish npm packages
  .github/workflows/release.yml
  .gitignore
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: :zap: Adding the package linting
  .lintstagedrc
Due: none

Notes added by 'git notes add'
  76a1e035cac0ab8811fd89d0f04d11b80898ae72
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(path-utils): :sparkles: Added the path utils
  .github/workflows/example-timeline-workflow.yml
  .github/workflows/publish-content.yml
  .vscode/settings.json
  README.md
  TODO.md
  lib/index.ts
  lib/path-utils.ts
  test/index.test.ts
  test/path-utils.test.ts
Due: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  6a375a6ab60311d64db8e5b708ee83432aa083e3
Due: none

fix: :ambulance: Fixed the export path
  .lintstagedrc
  package.json
Due: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  d4a4856b2c37d7cf69a962e05bcac928810a04cd
Due: none

ci: :truck: `lint:fix` becomes `lint:format`
  README.md
  package.json
Due: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: :sparkles: Moving from `excerpt` to `summary`
  lib/path-utils.ts
  lib/types.ts
  test/index.test.ts
  test/markdown-parser.test.ts
  test/path-utils.test.ts
Due: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  b792dfb633b03d917aaf510c19ccddc6e4acf3c9
Due: none

docs: :bug: Fixed the documentation with `excerpt` -> `summary`
  README.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: :arrow_up: Upped `@biomejs/biome` to `2.3.0`
  biome.json
  package-lock.json
  package.json
Due: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: :arrow_up: Upped `@biomejs/biome` to `2.3.2`
  biome.json
  package.json
Due: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: :arrow_up: Upped `@biomejs/biome` to `2.3.2`
  package-lock.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  bash -c 'npm test': (any of: *.{ts,tsx}) or (any of: package.json)
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{ts,tsx,json,yaml,graphql,md,css,scss,html}
